<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueueProvider" value="RabbitMQ" />
    <add key="RabbitMQ_HostName" value="localhost" />
    <add key="RabbitMQ_UserName" value="rulee" />
    <add key="RabbitMQ_Password" value="abc123" />
    <add key="Redis_ServiceName" value="localhost" />
    <add key="Redis_ClientName" value="" />
    <add key="Redis_Password" value="" />
  </appSettings>
</configuration>