<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DQueue.HostId" value="qwerty"/>
    <add key="DQueue.Provider" value="RabbitMQ" />
    <add key="DQueue.ConsumerTimeout" value="60" />
  </appSettings>
  <connectionStrings>
    <add name="Redis_Connection" connectionString="127.0.0.1:6379,password=,allowAdmin=true" />
    <add name="RabbitMQ_Connection" connectionString="HostName=localhost,UserName=rulee,Password=abc123" />
  </connectionStrings>
</configuration>