<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueueProvider" value="Redis" />
    <add key="RabbitMQ_HostName" value="localhost" />
    <add key="RabbitMQ_UserName" value="rulee" />
    <add key="RabbitMQ_Password" value="abc123" />
    <add key="Redis_Connection" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>